
<% provide(:title, 'Commercial Gallery') %>



<p>
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">  
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
</p>

<div id="links">
 
 
 
  <%= link_to image_tag("c_gallery/thumbs/01.png", alt: "1"), image_path("c_gallery/01.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/02.png", alt: "2"), image_path("c_gallery/02.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/03.png", alt: "3"), image_path("c_gallery/03.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/04.png", alt: "4"), image_path("c_gallery/04.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/05.png", alt: "5"), image_path("c_gallery/05.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/06.png", alt: "6"), image_path("c_gallery/06.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/07.png", alt: "7"), image_path("c_gallery/07.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/08.png", alt: "8"), image_path("c_gallery/08.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/09.png", alt: "9"), image_path("c_gallery/09.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/10.png", alt: "10"), image_path("c_gallery/10.jpg") %>

  <%= link_to image_tag("c_gallery/thumbs/12.png", alt: "12"), image_path("c_gallery/12.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/13.png", alt: "13"), image_path("c_gallery/13.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/14.png", alt: "14"), image_path("c_gallery/14.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/15.png", alt: "15"), image_path("c_gallery/15.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/16.png", alt: "16"), image_path("c_gallery/16.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/17.png", alt: "17"), image_path("c_gallery/17.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/20.png", alt: "20"), image_path("c_gallery/20.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/21.png", alt: "21"), image_path("c_gallery/21.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/24.png", alt: "24"), image_path("c_gallery/24.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/25.png", alt: "25"), image_path("c_gallery/25.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/26.png", alt: "26"), image_path("c_gallery/26.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/27.png", alt: "27"), image_path("c_gallery/27.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/28.png", alt: "28"), image_path("c_gallery/28.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/29.png", alt: "29"), image_path("c_gallery/29.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/30.png", alt: "30"), image_path("c_gallery/30.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/31.png", alt: "31"), image_path("c_gallery/31.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/32.png", alt: "32"), image_path("c_gallery/32.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/33.png", alt: "33"), image_path("c_gallery/33.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/34.png", alt: "34"), image_path("c_gallery/34.jpg") %>

  <%= link_to image_tag("c_gallery/thumbs/36.png", alt: "36"), image_path("c_gallery/36.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/37.png", alt: "37"), image_path("c_gallery/37.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/38.png", alt: "38"), image_path("c_gallery/38.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/39.png", alt: "39"), image_path("c_gallery/39.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/40.png", alt: "40"), image_path("c_gallery/40.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/41.png", alt: "41"), image_path("c_gallery/41.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/42.png", alt: "42"), image_path("c_gallery/42.jpg") %>
  
  <%= link_to image_tag("c_gallery/thumbs/44.png", alt: "44"), image_path("c_gallery/44.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/45.png", alt: "45"), image_path("c_gallery/45.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/46.png", alt: "46"), image_path("c_gallery/46.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/47.png", alt: "47"), image_path("c_gallery/47.jpg") %>
  <%= link_to image_tag("c_gallery/thumbs/48.png", alt: "48"), image_path("c_gallery/48.jpg") %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/thumbs/49.png", alt: "49"), image_path("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/49.jpg") %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/thumbs/50.png", alt: "50"), image_path("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/50.jpg") %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/thumbs/51.png", alt: "49"), image_path("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/51.jpg") %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/thumbs/52.png", alt: "49"), image_path("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/52.jpg") %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/thumbs/53.png", alt: "49"), image_path("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/53.jpg") %>
    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/thumbs/54.png", alt: "49"), image_path("https://s3-us-west-2.amazonaws.com/umbrella-assets/images/c_gallery/54.jpg") %>

     
  
 
  
</div>




<script>
document.getElementById('links').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>
