<!DOCTYPE html>
<html>
  <head>
    
    
  
    <title>Umbrella Roofing | <%= yield(:title) %></title>
    <meta name="google-site-verification" content="KyNpnLB03PrRxURZHkyWNuczC_qNKJ6tYHRq5mLG1W0" />
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="description" content="Umbrella Roofing and Siding. Quality roofing and siding service and products at competitive prices. Free estimates, call 631.368-6904.">

    <meta name="keywords" content="vinyl siding installation, roofing repair, roofing installation, long island roof installation, long island siding installation, suffolk, nassau, east northport, commack, long island, ice, snow, ice damming, snow removal, driveways, snow roof, roof cleaning">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  
  <body>
  
    <%= render "header" %>
    
    
      
        <%= yield %>
      
    
  </body>
  
  
  <div class="navbar">
  <footer class="footer">
  
  
  <nav >
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li><%= link_to "Gallery", gallery_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  
  

  
</footer>
</div>


</html>



